default_language_version:
  python: python3.11

# Keep noisy/slow stuff out of the way
exclude: |
  ^(.venv|venv|env|build|dist|\.mypy_cache|\.ruff_cache|\.pytest_cache|node_modules|migrations/)|
  ^(.*\.min\.js)$

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.3
    hooks:
      - id: ruff
#        args: [--fix]       # auto-fix cheap issues / safe fixes
      - id: ruff-format     # black-compatible formatter
        args: [--check]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        stages: [pre-push]
